.backgroundPictureBehandlinger {
  position: relative;
  min-height: 100%;
  height:auto;
  background-image: url('/pictures/forest-960_720.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-flex;
  display: flex;
}


.hideMe {
  display: none
}
.hideButton {
  float: right;
  background-color: transparent;
  border: none;
}
.hideButton:hover, .hideButton:focus, .hideButton:active {
  background-color: transparent;
  border: none;
}
.glyphicon {
  color: #f5f5f5;
}
.componentBehandling {
  margin: 10px 5px 5px 5px;
  font-family: 'Raleway', sans-serif;
}
h2 {
  display: inline;
}

h3.behandling {
  display: inline;
  font-size: 1.3em;
}
.behandlingsPris {
  float: right;
}
.renderBehandlingerClasses {
  margin-top: 0.6em;
}
.mappedList {
  columns:2 290px;
  column-gap: 1rem;
}

.textDivBehandlinger {
  position: relative;
  background-color: rgba(29, 29, 29, 0.9);
  width: 600px;
  height: auto;
  margin: 10% auto auto auto;
  font-size: 1.2em;
}
.mainDescription {
  margin-bottom: 1em;
}

@media screen and (max-width: 400px) {
  .renderBehandlingerClasses h3{
    font-size: 1em;
    font-weight: bold;
  }
  .renderBehandlingerClasses p{
    font-size: 0.9em;
  }
  .componentBehandling h2{
    font-size: 1.5em;
  }
}