.textDiv.kontakt{
  text-align: center;
}
.kontakt h3 {
  font-weight: 300;
  margin-bottom: 25px;
}
.kontakt h3:nth-of-type(2) {
  margin-top: 40px;
}
.contactTitle {
  font-weight: 600;
  font-size: 1.1em;
}
.days{
  font-weight: bold;
}
.bestillTime{
  font-size: 1.3em;
  margin-top: 10px;
}

a:link{
  text-decoration: none;
  color:@mainTextColor;
}
a:visited{
  color:@mainTextColor;
}
a:hover{
  color:white;
  font-weight: 600;
}
a:active{
  color:white;
}
