@import '../../node_modules/bootstrap/less/bootstrap';
@import './navbar';
@import './behandlinger';
@import './kontakt';
@import './home';

html, body, .myApp, .AppClass {
  height: 100%;
}

.backgroundPicture {
  position: relative;
  min-height: 100%;
  height:auto;
  background-image: url('/pictures/forest-960_720.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-flex;
  display: flex;
}

// .textDiv {
//   background-color: rgba(245, 245, 220, 0.7);
//   width: 600px;
//   height: 100%;
//   margin: 10% auto auto auto;
//   font-size: 1.2em;
// }
p, h2, h3 {
  color: black;
}


.textDiv {
  font-family: 'Hind Guntur', sans-serif;
  position: relative;
  background-color: rgba(245, 245, 220, 0.7);
  width: 600px;
  height: auto;
  margin: 10% auto auto auto;
  font-size: 1.2em;
}