// .navbar {
//   background-color: rgba(0, 0, 0, 0);
// }
// ul.navbar-nav {
//   text-align: center;
// }
// ul li {
//   display: inline-block;
// }
.navbar {
  margin-bottom: 0;
}
.navbar-brand{
  font-weight: @normalFontWeight;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}
.navbar .navbar-collapse {
  text-align: center;
  font-size: 1.25em;
  font-family: 'Hind Guntur', sans-serif;
}
.navbar a:hover{
  font-weight: @normalFontWeight;
}
.activeLink {
  color:  #fff;
}